<!DOCTYPE html>
<html>
<head>  
<meta charset="ISO-8859-1" />  
<title>download</title>  
</head>
  <body>
    <form  
      action='/downloadFile' 
      method='post'>
         Bucket Name:<input type="text" name="bucketName"> <br/>
         File Name:<input type="text" name="fileName"><br/>
         Folder Name:<input type="text" name="folderName">
         <input type='submit' value='Download' />
    </form>     
  </body>
</html>